:root {
    --fontHeadings: 'PT Sans', sans-serif;
    --fontParragraphs: 'Open Sans', sans-serif;

    --primaryColor: #784d3c;
    --grey: #e1e1e1;
    --white: #fff;
    --black: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem = 10px*/
}

*,
*:before,
x:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontParragraphs);
    font-size: 1.6rem;
    line-height: 2;
}

/* GLOBALES */

.contenedor {
    max-width: 100rem;
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fontHeadings);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

img {
    max-width: 100%;
}

/* UTILIDADES */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-text {
    text-align: center;
}

.negrita {
    font-weight: 700;
}

.no-top-margin {
    margin-top: 0;
}

/* HEADER */

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--white);
    margin-top: 10rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--white);
}

.logo__name {
    font-weight: 400;
    margin: 0;
}

.logo__bold {
    font-weight: 700;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion__enlace {
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        gap: 2rem;
    }
}

/* CONTENIDO PRINCIPAL */

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--grey);
    margin-bottom: 2rem;
}

.boton {
    display: block;
    font-family: var(--fontHeadings);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--black);
}

.boton--secundario {
    background-color: var(--primaryColor);
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.cursos {
    list-style: none;
}

.curso__contenido {
    border-bottom: 1px solid var(--grey);

}

/* FOOTER */

.footer {
    background-color: var(--black);
    padding: 4rem 0;
    margin-top: 3rem;
}

.barra-footer {
    padding-top: 0;
}

.logo-footer h1 {
    margin-bottom: 2rem;
}

/* NOSOTROS */
@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

/* CURSOS */
.entrada-curso {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .entrada-curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    .entrada-curso__titulo {
        margin-top: 0;
    }
}

/* CONTACTO */

.formulario__imagen {
    background-image: url("../img/contacto.jpg");
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--white);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 3rem;
}

.campo {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--grey);
}

.campo__field--textarea {
    height: 20rem;
}

@media (max-width:768px) {
    .btn {
        width: 100%;
    }
}

.campo__btn {
    justify-content: right;
}